.communityBody {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
}

.communityTitle {
  font-size: xx-large;
}

.communitySubtitle {
  color: var(--ifm-color-primary);
  font-size: x-large;
}

.communityRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 2rem 10px;
}

.communityItem {
  width: 33.3%;
}

.communityMeeting {
  width: 50%;
}

.meetingTitle {
  font-size: large;
  margin: 10px auto;
}

@media screen and (max-width: 966px) {
  .communityRow {
    flex-direction: column;
    align-items: center;
  }

  .communityItem {
    width: 100%;
  }

  .communityMeeting {
    width: 100%;
  }
}
