.rbc-calendar {
  color: black;
}

@media screen and (max-width: 966px) {
  .communityRow {
    flex-direction: column;
    align-items: center;
  }

  .communityItem {
    width: 100%;
  }

  .communityMeeting {
    width: 100%;
  }
}

/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  min-height: calc(100vh - 55px);
  background-image: url('/img/banner-image.png');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContainer {
  width: 50%;
  margin-left: 8%;
  color: white;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  margin: 30px 0 0;
}

html[data-theme='dark'] li > a:hover {
  text-decoration: none;
  color: #ecf0f1;
}

.buttons > a {
  margin: 5px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroContainer {
    width: 100%;
    margin: auto;
  }

  .buttons {
    justify-content: center;
  }
  .button {
    position: relative;
    left: 35%;
    margin-bottom: 0%;
  }
}
