.communityBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
}

.communityTitle {
  font-size: 2.5rem;
}

.communitySubtitle {
  margin-top: 2rem;
  font-size: 2rem;
}

.communityRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 1rem 2.5rem;
}

.communityMeeting {
  width: 50%;
}

.meetingTitle {
  font-size: small;
  margin: 10px auto;
}
