.banner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 966px) {
    .banner {
      padding: 2rem;
    }
  }

.project_head{
  text-decoration: underline;
  text-decoration-color: #72E7A3 ; 
  padding: 2%;
  margin-left: 45%;
}
.projects{
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 966px) {
  .projects{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: -15%;
  }
}