.wrapper {
  margin: 1rem auto;
  width: 80%;
  margin-left: 13.5em;
  
}

.card {
  width: 20rem;
  height: 16.5rem;
  border: 2px solid var(--ifm-color-primary-dark);
  margin: 10px;
  padding: 1.5rem;
}

.card-list{
    margin: 0.0625em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.3125em;
    padding-left: -4.375;
    padding-right: 0.125em;
  }

.subtitle{
  font-size: large;
  font-weight: bold;
  color: var(--ifm-color-primary);
}



@media screen and (max-width: 966px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 966px) {
  .card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

