.communityBody {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
}

.communityTitle {
    font-size: 2.5rem;
}

.communitySubtitle {
    color: var(--ifm-color-primary);
    font-size: x-large;
    margin-bottom: 20px;
}

@media screen and (max-width: 966px) {
    .card {
        width: 100%;
    }
    .communityTitle {
        font-size: 2rem;
    }
    .communitySubtitle {
        color: var(--ifm-color-primary);
        font-size: large;
        margin-bottom: 20px;
    }
}