.card {
  width: 75%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.main_card_container{
  margin-bottom: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_container {
  padding: 2em;
  min-height: 180px;
  max-height: 100%;
  height: 100%;
  overflow-y: hidden;
}

.card_container h2{
  padding-bottom: 20px;
}

.card_container h3 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #72e7a3;
}

.card_body {
  width: 100%;
  height: 100%;
  line-height: 1.7em;
}

.card_button {
  padding: 2%;
  padding-bottom: 4%;
  border: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  background-color: var(--ifm-card-background-color);
}

.card_button:hover {
  color: white;
  color: #72e7a3;
  cursor: pointer;
}

.modal {
  overflow: auto;
}

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #18191a;
  margin: 3em 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  overflow: auto;
  color: white;
  z-index: 100;
  border-radius: 0.875rem;
}

.modal_links {
  display: flex;
  align-items: center;
  margin-left: 45%;
  font-size: 20px;
  text-decoration: underline;
}

.modal_gh_link {
  align-items: center;
  padding: 10px;
}
.modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content h1{
  text-align: center;
  margin-bottom: 1.2em;
}

.discription{
  text-align: center;
  margin-bottom: 2em;
}

.task_timlines {
  display: flex;
  justify-content: space-evenly;
}

.status {
  width: 30%;
  height: 40%;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status h5 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.card_header{
  display: flex;
  justify-content: space-between;
}

.card_header a{
  color: white;
}

html[data-theme='light'] .project-icon {
  height: 1.8em;
  width: 1.8em;
  color: #242526;
}

html[data-theme='dark'] .project-icon {
  height: 1.8em;
  width: 1.8em;
  color: white;
}


.project_links{
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

.task_div, .task_details_div{
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  padding: 0.5rem 0;
  min-width: 90%;
}

.task_description, .task_description_list{
  border: 1px solid #333;
  border-radius: 0 0.375rem 0.375rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}

.task_text{
  padding: 0 0.5rem;
  margin-right: 20px;
  padding-top: 0.5rem;
}

.box_decor{
  min-width: 1.2rem;
  background-color: #72e7a3;
  border-radius: 0.375rem 0 0 0.375rem;
}

.button_container{
  display: flex;
  justify-content: center;
}

.expand_button{
  background-color: inherit;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  
}

.button_arrow{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.task_details{
  list-style-type: none;
  padding-top: 0.75rem;
  margin-left: 0.5rem;
  border-left: 2px dashed rgb(158, 155, 155);
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task_details_div{
  padding: 0;
  padding-top: 0.9rem;

}

.border_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2px;
}

.border{
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 0.25rem;
  border-top: 2px dashed rgb(158, 155, 155);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.task_box{
  min-width: 100%;
}

.task_description_list{
  border: 1px solid #333;
  border-radius: 0 0.375rem 0.375rem 0;
  padding-right: 15px;
  min-width: 88.5%;
  justify-content: left;
}

.invisible{
  display: none;
}

.project_link_icons{
  position: absolute;
  right: 50px;
  top: 50px;
  width: 12%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 966px) {
  .card {
    width: 100%;
    height: 18rem;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0.475rem;
  }

  .main_card_container{
    width: 100%;
    padding-bottom: 0;
  }

  .project_links{
    width: 25% !important;
  }

  .close_icon {
    /* position: absolute; */
    left: 50px;
    top: 50px;
    width: 8%;
    display: flex;
    justify-content: space-evenly;
  }

  h2{
    font-size: 1.3rem !important;
  }

  .project-icon{
    width: 1.6em !important;
    height: 1.6em !important;
  }

  .modal-content-wrapper{
    margin-top: 50px;
    border-radius: 0;
    padding: 32px 16px;
    padding-bottom: 50px;
  }

  .task_timlines{
    display: block;
  }

  .status{
    width: 100%;
  }

  .task_description_list{
    min-width: 85%;
  }

  .task_details{
    padding-top: 0.5rem;
    margin-left: 5px;
  }

  .status{
    margin-left: 0;
  }

  .project_link_icons{
    position: initial;
    width: 50%;
  }

  .modal_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .modal_header h1{
    margin-bottom: 20px;
  }

}