.card {
    border: 2px solid var(--ifm-color-primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    max-width: 560px;
    padding: 1.5rem;
}

.projectContainer {
    max-width: 1500px;
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.projects {
    display: flex;
    padding-top: 0.5em;
    line-height: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
}

.username {
    margin: 16px;
}

.item {
    line-height: 1em;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
}

.button {
    background-color: var(--ifm-color-primary-lightest);
    border-radius: 4px;
    padding: 0.04rem 0.4rem;
    outline: none;
    overflow-wrap: anywhere;
    cursor: auto;
    font-size: 13px;
    border: none;
}