.card-title{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: -3.9em;
  text-align: right;
  margin-bottom: 0.625em;
}
.card-subtitle{
  margin-top: 2.659em;
}

.card-text{
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
}

.btn {
    background-color: var(--ifm-color-primary-lightest);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0.08rem 0.49rem;
    line-height: 1.875em;
    margin-top: 1.875em;
    margin-right: 0.625em;
    outline: none;
    border: none;
  }
 
  
  .avatar__intro {
  color: rgb(255, 255, 255);
  margin: 0.625em;
  }
  
  @media screen and (max-width: 966px) {
    .card {
      width: 100%;
    }
  }

  