.card-container{
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: #73ac86;
    border-radius: 10px;
    width: 30vw;
    padding: 20px;
    margin-top: 2rem;
}